@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,600i,700,700i,800,800i|Rajdhani:300,400,500,600,700');

$blackColor: rgb(25, 25, 25);
$whiteColor: rgb(252, 252, 252);
$grayColor: rgb(150, 150, 150);

$mainColor: rgb(242, 61, 91);

$titleFont: 'Montserrat', sans-serif;
$textFont: 'Rajdhani', sans-serif;

$widthDash: 175px;
$widthFilter: 220px;