@import '../../../public/variables.scss';

.GameCard{
    width: 100px;
    height: 100px;

    padding: 5px;

    flex-shrink: 0;

    border: 7px solid $blackColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-right: 20px;
    margin-bottom: 20px;

    transition: ease-in-out all .1s;

    &:hover{
        border: 5px solid $grayColor;
    }

    >h5{
        text-align: center;
        color: $blackColor;
        font-family: $titleFont;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
    }

    >p{
        text-align: center;
        color: $darkGrayColor;
        font-family: $titleFont;
        font-style: italic;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
    }
}