@import '../../../public/variables.scss';

.ErrorPage{
    height: 100%;

    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    justify-content: center;

    h3{
        font-family: $titleFont;
        font-size: 24px;
        color: $blackColor;
        font-weight: 800;
        font-style: italic;
    }
}