@import '../../../public/variables.scss';

.Dash {
    width: $widthDash;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;

    background-color: $whiteColor;

    padding: 36px 0;
    
    .Logo {
        fill: $blackColor;
        width: 96px;
        
        flex-shrink: 0;
        
        margin-bottom: 10px;
    }
    
    &__buttons {
        width: 82px;
        height: auto;
        
        &-btn {
            height: 45px;
            width: 100%;
            
            >h2 {
                text-transform: uppercase;
                
                font-family: $titleFont;
                font-style: italic;
                font-weight: 800;
                font-size: 14px;
                line-height: normal;
                
                color: $blackColor;
                
                text-decoration: none;
                
                &:before{
                    background-color: $blackColor;
                }
                
                padding-bottom: 5px; 
            }
        }
    }

    &__option {
        width: 82px;
        height: auto;
        
        &-btn {
            height: 30px;
            width: 100%;
            
            >h2 {
                text-transform: uppercase;
                
                font-family: $titleFont;
                font-style: italic;
                font-weight: 700;
                font-size: 12px;
                line-height: normal;
                
                color: $darkGrayColor;
                
                text-decoration: none;
                
                &:before{
                    background-color: $darkGrayColor;
                }
                
                padding-bottom: 5px; 
            }
        }
    }
}